body {
    margin: 0;
    padding: 0;
    background-image: url('./image/movie.jpg');
    background-size: 100% 100%;
}

.content_section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
}

.search_section {
    display: flex;
    justify-content: center;
}

.container {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 2rem;
}
#result{
    border-radius: none;

}